
@font-face {
    font-family: 'Gotham'; /*a name to be used later*/
    src: url('../fonts/Gotham/Gotham-Book.otf'); /*URL to font*/
    font-weight: normal;
    font-display: 'swap';
}

@font-face {
    font-family: 'Gotham'; /*a name to be used later*/
    src: url('../fonts/Gotham/Gotham-Medium.otf'); /*URL to font*/
    font-weight: 500;
    font-display: 'swap';
}

@font-face {
    font-family: 'Gotham'; /*a name to be used later*/
    src: url('../fonts/Gotham/Gotham\ Bold.otf'); /*URL to font*/
    font-weight: bold;
    font-display: 'swap';
}

:root{
    --dark-color: #000000;
    --primary-color:  #004777;
    --secondary-color: #FF7700;
    --maroon-color: #A30000;
    --tomato:  #EA3546;
    --yellow: #EFC111;
    --green:  #61BB5A;

  
    --main-font-family: "Gotham","Public Sans", Helvetica, Arial, sans-serif;
    --alt-font-family: "Public Sans", Helvetica, Arial, sans-serif;
  
   /* sizes 80,         24,18,14*/
    --h1-fs: 3.4375rem;
    --h2-fs: 3rem;
    --h3-fs: 2.25rem;
    --h4-fs: 2rem;

    --small-text: 0.875rem;
    --big-text: 1.5rem;
    --body-text: min(max(14px, 1.25vw), 36px);
    --link-text: min(max(10px, 0.98vw), 28px);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}

body{
    color: #FFFFFF;
    font-family: var(--main-font-family);
    font-weight: 500;
}


h1{
    font-size: var(--h1-fs);
    line-height: 1.11;
    letter-spacing: -0.05rem;
    font-weight: 700;
}

h2{
    font-size: var(--h2-fs);
    line-height: 1.1;
    letter-spacing: -0.03rem;
    font-weight: 700;
}
h3{
    font-size: var(--h3-fs);
    line-height: 1.16;
    letter-spacing: -0.03rem;
    font-weight: 700;
}

h4{
    font-size: var(--h4-fs);
    line-height: 1.16;
    letter-spacing: -0.05rem;
}


a{
    color: #FFFFFF;
    text-decoration: none;
}

a:hover{
    color: unset;
    text-decoration: none;
} 



.alt-font{
    font-family: var(--alt-font-family);
}

.logo{
    position: absolute;
    top: 2vh;
    width: 10.14vw;
    max-width: 140px;
    z-index: 101;
    transform: translateX(-50%);
    position: absolute;
    top: 2vh;
    left: 50%;
}

.navbar{
    position: absolute;
    width: 100%;
    z-index: 100;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 8.84%, rgba(24, 24, 24, 0.8) 91.14%);
}

.navbar-nav{
    margin-right: 10vw;
}

.navbar-nav .nav-item:nth-of-type(2n+1){
    margin-right: -12vw;
}

.nav-link{
    color: inherit;
    font-family: var(--alt-font-family);
    font-size: var(--link-text);
    padding: 5vh 4vw;
}

.btn{
    border: 5px solid #FFFFFF;
box-sizing: border-box;
border-radius: 2px;
    font-weight: 700;
    font-size: var(--body-text);
    background-color: transparent;
}

.btn:hover {
    color: unset;
}

.blue-btn{
    background-color: var(--primary-color);  
}

.big-text{
    font-size: var(--big-text);
    line-height: 1.17;
    letter-spacing: -0.05em;
}

.small-text{
font-size: var(--small-text) ;
font-family: var(--alt-font-family);
font-weight: 600;
line-height: 1.143;
letter-spacing: -0.05rem;
}

.cta-btn{
 padding: 1.94vh 5vw;
 text-transform: uppercase;
}



.yellow-text, .yellow-text:hover{
    color: var(--yellow);
}
.tomato-text, .tomato-text:hover{
    color: var(--tomato);
}
.green-text, .green-text:hover{
    color: var(--green);
}



.pro-header{
    /* background: url(../img/bg3.jpg), url(../img/bg1.jpg), url(../img/bg2.jpg), url(../img/bg-s.jpg) ;
    background-position: right, top left, bottom left, 0% 43.5%;
    background-size: 45.35% 100%,54.65% 26.86%, 54.65% 34.76%, 54.65% 38.3%; */

    background-image: url(../img/new-bg.png);
    background-size: 100% 100%;
   background-repeat: no-repeat; 
    height: 54.58333vw;
    min-height: 100vh;
    color: #FFFFFF;
    position: relative;
    }

.hero-container{
    height: 100%;
    position: relative;
    overflow: hidden;  
}

.hero-form{
    padding: 0 9rem 0 4rem;
}

.hero-section-one{
width: 100%;
position: absolute;
top: 26.5%;
height: 100%;
}

.hero-circles{
    margin: 0 -2.3875rem; 
}

.circle-block{
    max-width: 12.5vw ;
    text-align: center;
    /* margin: 0 2.3875rem; */
    
}

.circle-block > p {
    max-width: 10rem;
    margin: auto; 
}

.form-row{
    align-items: flex-start;

}

.form-group{
    margin-top: 0.5rem
}

label{
    font-size: 1.125rem;
    display: block;
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 1.167;
}

.form-control {
    width: 100%;
    height: unset;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    line-height: 1.16;
    color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



.form-control::placeholder{
    color: #fff;
    font-style: italic;
    font-family: var(--alt-font-family);
    font-size: var(--small-text);
}

.form-control:focus{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255, 0.9);
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
    color: #FFFFFF;
    background-color: #F2DEDE77;
    border: 5px solid #EED3D7;
}

.sort-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0.75rem;
}

.dropdown-menu.show{
    padding:1rem 0;
    min-width: unset;
    width: 100%;
}

#infoForm .multiselect-native-select{
    display: flex;
    flex-direction: column;
}

#infoForm .form-group .parsley-errors-list {
    order: 5;
}


.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 0;
}
.drop-option{
    color: var(--yellow);
    font-size: var(--small-text);
    padding: 0.5rem 1.25rem!important;
    position: relative;
    z-index: 1;
    display: block;
}

#detailsForm .drop-option{
    color: var(--green);
    font-size: var(--small-text);
    padding: 0.75rem 3rem!important;
}


.drop-option input[type="checkbox"]{
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
    box-sizing: border-box;
    padding: 0;
}


.drop-option label.checkbox{
    line-height: 150%;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    vertical-align: middle;
    padding-left: 20px;
}

.drop-option label.checkbox:before{
    position: absolute;
    top: 5.5px;
    display: block;
    left: 0px;
    width: 16px;
    height: 16px;
    pointer-events: none;
    content: "";
    background-color:transparent;
    border: 2px solid #EFC111;
box-sizing: border-box;
border-radius: 3px;
}

.drop-option label.checkbox:after{
    position: absolute;
    top: 5.5px;
    display: block;
    left: 0px;
    width: 16px;
    height: 16px;
    content: "";
    border-radius: 3px;
}

.drop-option:focus,
.drop-option> *:focus{
    outline: none;
}

.drop-option.active  label.checkbox:before {
    background-color: var(--yellow);
    border: 4px solid white;
}
.drop-option.active  label.checkbox:after {
    border: 2px solid var(--yellow);
    border-radius: 3px;
background: transparent;
background-image: none;
}

.multiselect-selected-text{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


.multiselect-container input[type=radio] {
    display: none;
}

.parsley-errors-list {
    margin: 0.4rem 0.2rem;
    font-size: var(--small-text);
    color: #FFFFFF;
}

.submit-btn{
    background: #FFFFFF;
    padding:0.75rem;
    text-transform: capitalize;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 5px;
}


.hero-block{
    background-color: var(--tomato);
    padding: 5.2vh 8.33vw ;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;   
}


.hero-content-two,
.hero-content-three,
.hero-content-four,
.hero-content-five{
opacity: 0;
position: absolute;
top: 0;
display: none;
}




.hero-content-four .signup-form {
    position: relative;
}

.hero-content-four .form-row{
    padding: 0 6rem;
}

.hero-content-four .form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

}


.hero-content-four .form-control{
    width: 27.5rem;
   max-width: 440px;
  border-radius: 12px;
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
}

.hero-content-four .form-control::placeholder{
font-size: 1.125rem;
}

.forward-arrow{
    position: absolute;
    top: 50%;
    right: -10rem;
}

.back-arrow{
    position: absolute;
    top: 50%;
    left: -10rem;
    transform: rotateY(180deg);
    opacity: 0;
     display: none
}


.data-section-two,
.data-section-three,
.data-section-four,
.data-section-five
   { 
       opacity: 0;
position: absolute;
top: 0;
display: none;

}


/* .hero-content-four  .group-two label {
  transform: translateX(-100px);
} */


.circle-case{
    margin-bottom:1.84vh;
}



.invalid-feedback{
    color: var(--tomato);
    font-size: 90%;
}



.social-check{
    padding: 2.5vh;
    display: flex;
    justify-content: center;
}

.social-check>.custom-checkbox{
    margin: 0 4vw;
}

.hero-content-three > .hero-title{
    margin: 0.5vh;
}

.social-check ~ .submit-btn{
   width: 26.875vw;
   margin: 0.5vh;
}


label>img {
    margin-top: -0.8vh;
    margin-left: 2vw;
    vertical-align: middle;
    border-style: none;
}
.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    pointer-events: none;
    content: "";
    background-color: transparent;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 9px!important;
}


.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: whitesmoke;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.85);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2317C7FF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: whitesmoke;
    background-color: white;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    content: "";
    background: no-repeat 50%/50% 50%;
}


.clock{
    font-size: min(max(56px, 5vw), 80px);
    
}

.clock-slot{
    display: inline-flex;
    flex-direction: column;
}

.clock-slot label {
    font-family: var(--alt-font-family);
font-size: 11px;
text-align: center;
}

.clock-slot > span {
    font-weight: 300;
    letter-spacing: -0.055em;
}

@media (max-width: 1800px) { 
    :root{
        font-size: 15px;    
      }
}


/* // X-Large devices (large desktops, less than 1600px) */
@media (max-width: 1599.98px) { 
    :root{
      font-size: 14px;    
    }
   }


/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    :root{
      font-size: 12px;    
    }
   }
  
   /* // Large devices (desktops, less than 1200px) */
   @media (max-width: 1199.98px) {  
    :root{
      font-size: 11px
    }
    }
    
  /* // Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) {  
    :root{
      font-size: 9.5px;  
    }
  }
  
  
  /* // Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {
    :root{
      font-size: 8px;  
    }
   
    }
  
  /* // X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
    :root{
      font-size: 10px;  
    }
   }
  
   @media (max-width: 339.98px) { 
    :root{
      font-size: 8px;  
    }
   }
  


